<div class="menu" [class.is-open]="isOpen()">
  <button
    bubble
    type="button"
    class="menu-toggle"
    (click)="toggleMenu()"
    [bubbleFloating]="false"
  >
    Menu
  </button>

  <div class="nav-menu" data-goo>
    <button
      bubble
      [bubbleFloating]="true"
      [bubbleExpanded]="isOpen()"
      [bubbleIndex]="0"
      [bubbleCount]="4"
      type="button"
      routerLink="/home"
      routerLinkActive="active"
      [style.--bubble-size.px]="sizes[0]"
      [bubbleGlassStrength]="85"
      [bubbleGlassDepth]="18"
      [bubbleChromaticAberration]="1.1"
      [bubbleGlassBlur]="0.9"
      [bubbleWobbleIntensity]="0.7"
      [bubbleWobbleSpeed]="0.8"
    >
      Home
    </button>
    <button
      bubble
      [bubbleFloating]="true"
      [bubbleExpanded]="isOpen()"
      [bubbleIndex]="1"
      [bubbleCount]="4"
      type="button"
      routerLink="/about"
      routerLinkActive="active"
      [style.--bubble-size.px]="sizes[1]"
      [bubbleGlassStrength]="90"
      [bubbleGlassDepth]="20"
      [bubbleChromaticAberration]="1.2"
      [bubbleGlassBlur]="1.0"
      [bubbleWobbleIntensity]="0.8"
      [bubbleWobbleSpeed]="0.85"
    >
      About
    </button>
    <button
      bubble
      [bubbleFloating]="true"
      [bubbleExpanded]="isOpen()"
      [bubbleIndex]="2"
      [bubbleCount]="4"
      type="button"
      routerLink="/contact"
      routerLinkActive="active"
      class="contact-button"
      [style.--bubble-size.px]="sizes[2]"
      [bubbleGlassStrength]="95"
      [bubbleGlassDepth]="22"
      [bubbleChromaticAberration]="1.3"
      [bubbleGlassBlur]="1.1"
      [bubbleWobbleIntensity]="0.85"
      [bubbleWobbleSpeed]="0.9"
    >
      Contact
    </button>
    <button
      bubble
      [bubbleFloating]="true"
      [bubbleExpanded]="isOpen()"
      [bubbleIndex]="3"
      [bubbleCount]="4"
      type="button"
      routerLink="/font-demo"
      routerLinkActive="active"
      class="font-demo-button"
      [style.--bubble-size.px]="sizes[3]"
      [bubbleGlassStrength]="88"
      [bubbleGlassDepth]="19"
      [bubbleChromaticAberration]="1.15"
      [bubbleGlassBlur]="0.95"
      [bubbleWobbleIntensity]="0.75"
      [bubbleWobbleSpeed]="0.82"
    >
      Font Demo
    </button>
  </div>
</div>
